
@font-face {
    font-family: "Lora";
    src: local("../fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Noto-serif-KR";
    src: local("../fonts/NotoSerifKR-VariableFont_wght.ttf");
}

.article {
    width: 768px;
    padding: 16px; 
}

.article h2 {
    font-weight: bolder;
    color: blue;
    margin: 20px auto 10px auto;
}

.article p {
    /* font-family: "Lora", "Noto-serif-KR"; */
    font-family: var(--font-lora), var(--font-notoserif);
    line-height: 180%;
}

.article pre {
    padding: 1rem 0;
    text-wrap: wrap;
}